{{define "T"}}
<html>
    <body>
    <div class="title">"{{.Title}}"</div>
    <div class="story">
    {{range .Story}}{{ . }}{{end}}
    </div>
    <div class="options">
        {{ $options := .Options }}
        {{ if $options }} <div class="options-head">Options:</div> {{end}}
        {{range $option := $options}}
        <div class="option-item">
            <div class="option-item-arch"><a href="/{{$option.Arc}}">{{$option.Arc}}</a></div>
            <div class="option-item-text">{{$option.Text}}</div>
        </div>
        {{end}}
    </div>
    </body>
</html>
{{end}}
